section{
    display: flex;
    flex-direction: column;
}
.projects{
    background-color: blue;
    margin: 5px;
    padding: 10px;
}
#projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}