* {
  --borderradius: 20px;
  --whiteColor: #00a6fb;
  --lightColor: #0582ca;
  --middleColor: #006494;
  --darkColor: #003452;
  --blackColor: #061923;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: aliceblue;
}
body {
  background-color: var(--blackColor);
  display: grid;
  margin: 20px;
}
nav {
  background-color: var(--middleColor);
  border-radius: var(--borderradius);
  font-size: 15px;
  font-weight: bold;
}
nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
}
nav li {
  list-style: none;
  padding: 15px;
}
nav li:hover {
  background-color: var(--whiteColor);
  border-radius: var(--borderradius);
}
nav li:hover a {
  color: black;
}
section {
  display: flex;
  flex-direction: column;
}
img {
  border-radius: var(--borderradius);
}
h1,
h2 {
  background-color: var(--whiteColor);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--borderradius);
}
h1 {
  height: 100px;
}
h2 {
  height: 60px;
}
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--middleColor);
  border-radius: var(--borderradius);
  padding: 15px;
}
p {
  color: black;
  margin: 20px;
  padding: 10px;
}
#projects h3 {
  padding: 0px;
}
#zitat {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
a {
  text-decoration: none;
}
.projects {
  background-color: var(--middleColor);
  padding: 10px;
}
.projects:hover {
  background-color: var(--whiteColor);
}
.projects:hover h3{
  background-color: var(--whiteColor);
  color: black;
}
.projectsBig {
  background-color: var(--whiteColor);
  margin-top: 20px;
  border-radius: var(--borderradius);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#project1 {
  border-top-left-radius: var(--borderradius);
  border-bottom-left-radius: var(--borderradius);
}
#project3 {
  border-top-right-radius: var(--borderradius);
  border-bottom-right-radius: var(--borderradius);
}
#projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skills{
  background-color: white;
  border-radius: var(--borderradius);
  padding: 15px;
  margin: 20px;
  display: flex;
  justify-content: center;
}
.skills img{
  border-radius: 0px;
}
#csharp{
  background-color: rgb(210, 125, 250);
}
#css{
  background-color: rgb(120, 175, 255);
  padding: 3px;
}
#javascript{
  background-color: rgb(251, 255, 134);
  padding: 3px;
}

::selection { background: var(--blackColor); color: #fff; }
li::selection { background: var(--whiteColor); color: #fff; }
i::selection { background: var(--whiteColor); color: #fff; }

@media (min-width: 800px) {
  body {
    grid-template-columns: 25% auto 25%;
    grid-template-rows: auto;
  }
  header,
  nav,
  article,
  section,
  .projectsBig {
    grid-column: 2;
  }
  .projectsBig img{
    width: 70%;
  }
  #skillsPortfolio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
